<?xml version="1.0" encoding="UTF-8"?>


<beans>

    <bean id="planDesignController" class="cn.edu.guet.controller.PlanDesignController">
        <property name="planDesignService" ref="planDesignService"></property>
    </bean>
    <bean id="planDesignService" class="cn.edu.guet.service.impl.PlanDesignServiceImpl">
        <property name="routeCableDao" ref="routeCableDao"></property>
        <property name="plandesignDao" ref="planDesignDao"></property>
    </bean>
    <bean id="routeCableDao" class="cn.edu.guet.dao.impl.RouteCableDaoImpl"></bean>
    <bean id="planDesignDao" class="cn.edu.guet.dao.impl.PlanDesignDaoImpl"></bean>

</beans>
